<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{htmlWebpackPlugin.options.title}}</title>
	</head>
	<body>

		<div class="wrapper">
			<div class="btn-wrap">
				<button class="button button-begin">К началу</button>
				<button class="button button-start">Старт</button>
			</div>
			<div class="button-wrap">
				<button class="button btn-one">Таблица на flexbox</button>
				<button class="button btn-two">Таблица блоками div</button>
			</div>
			<div class="table">
				{{> "./src/templates/table.hbs"}}
			</div>
			<div class="result">
				<p class="result__text">Кликайте на ячейки, чтобы заполнить блок содержимым ячеек таблицы!</p>
			</div>
			<div class="table-two">
				{{> "./src/templates/table-two.hbs"}}
			</div>
		</div>

	</body>
</html>
