<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>

<div class="wrapper">
	<div class="btn-wrap">
	<button class="button button__begin">К началу</button>
	<button class="button button__start">Старт</button>
	</div>
	<div class="table">
		{{> "./src/templates/table.hbs"}}
	</div>
	<div class="result"></div>
</div>

</body>
</html>
