@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,500&subset=cyrillic');
@import '../config/variables.scss';

html, body {
  width: 100%;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

b, strong {
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

.button {
  display: inline-block;
  min-width: 100px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 1.42;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $colorBtn;
  padding: 10px 17px;;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: background-color .1s ease;

  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }

  &::after {
    opacity: .22;
  }

  &:hover {
    background-color: lighten($colorBtn, 5%);
  }

  &:active {
    background-color: darken($colorBtn, 10%);
  }

  &:focus {
    outline: 0;
  }

}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $default-font;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  background: $bg;
  overflow: hidden;
}

.table {
  display: none;
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
  border: 1px solid #999;
  border-collapse: collapse;
}

.table__header {
  display: table-header-group;
}

.table__row {
  display: table-row;
  font-weight: 300;
}

.table__head {
  display: table-cell;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #949090;
  background-color: #ddd;
}

.table__cell {
  width: 33.3%;
  position: relative;
  display: table-cell;
  padding: 5px;
  text-align: center;
  border: 1px solid #949090;
  transition: background-color 3s, font-size 3s, color 2s;
}

.cell-text {
  width: 32%;
  margin: 0;
  font-weight: bold;
  text-align: center;
  color: red;
}

.result {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 960px;
  padding: 5px;
  margin: 0 auto 20px;
  font-size: 20px;
  color: #480f0f;
  border: 1px solid red;
}

.button-wrap {
  display: block;
  width: 960px;
  margin: 0 auto 50px;
  text-align: center;
}

.btn-wrap {
  position: relative;
  width: 100px;
  margin: 20px auto;
}

.btn-wrap:hover .button-begin {
  display: none;
}

.btn-wrap:hover .button-start {
  display: inline-block;
}

.button-start {
  display: none;
}






